.container{
    margin: 50px auto;
    width: 90%;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 10px 10px 5px #aaaaaa;
    padding: 10px;
    text-align: center;
    color: gray;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container{
        margin: auto;
        width: 90% !important;
    }

}

.form-group{
  width:300px;
  margin-top: 30px;
  margin-left: 10px;
}
.sortiranje{
  margin-top: 10px;
  margin-left: 10px;
  float:  left !important;
  margin-bottom: 20px;
}

.sortiranje button{
  margin-right: 10px;
}


.limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #4158d0, #c850c0);
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }
  
  .wrap-table100 {
    width: 1170px;
  }
  
  table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 60px auto;
    position: relative;
    padding: 10px;
  }
  table * {
    position: relative;
  }
  table td, table th {
    padding-left: 8px;
  }
  table thead tr {
    height: 60px;
    background: gold;
  }
  table tbody tr {
    height: 60px;
    padding: 20px;
  }
  table tbody tr:last-child {
    border: 0;
  }
  table td, table th {
    text-align: center;
  }

  
  .table100-head th{
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .column1 {
    width: 10%;
  }
  
  .column2 {
    width: 10%;
  }
  
  .column3 {
    width: 10%;
  }
  
  .column4 {
    width: 10%;
  }
  
  .column5 {
    width: 10%;
  }
  
  .column6 {
    width: 10%;
  }

  .column7 {
    width: 10%;
  }
  
  

  
  @media screen and (max-width: 992px) {
    table {
      display: block;

      padding-left: 5px;
      padding-right: 5px;
    }
    table > *, table tr, table td, table th {
      display: block;
    }
    table thead {
      display: none;
    }
    table tbody tr {
      height: auto;
      padding: 37px 0;
    }
    table tbody tr td {
      padding-left: 40% !important;
      margin-bottom: 24px;
    }
    table tbody tr td:last-child {
      margin-bottom: 0;
    }
    table tbody tr td:before {
      font-family: OpenSans-Regular;
      font-size: 14px;
      color: #999999;
      line-height: 1.2;
      font-weight: unset;
      position: absolute;
      width: 40%;
      left: 30px;
      top: 0;
    }
    tr {
     border-bottom: 0.5px solid #36304a;
    }

  
    .column4,
    .column5,
    .column7,
    .column6,
    .column1,
    .column2,
    .column3 {
      width: 100%;
      text-align: left;
    }
  
    tbody tr {
      font-size: 14px;
    }
  }
  
  @media (max-width: 576px) {
    .container-table100 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

