.container{
    margin: 50px auto;
    width: 90%;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 10px 10px 5px #aaaaaa;
    padding: 10px;
    text-align: center;
    color: gray;
}

.mat-list-item{
    color: darkslategrey;
    border-bottom: 1px solid darkolivegreen;
}
input{
    border-radius: 4px;
    margin-left: 10px;
    width: 300px;
}
select{
    border-radius: 4px;
    margin-left: 100px;
    width: 100px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container{
        margin: auto;
        width: 90% !important;
    }

}