
.container{
    margin: 50px auto;
    width: 100%;
    background-color: #485246;
    border-radius: 8px;
    box-shadow: 10px 10px 5px #aaaaaa;
    padding: 10px;
    text-align: center;
    color: gray;
    overflow: auto;
    position: relative;
  }

.info, .dodavanje{
    display: inline-flex;
}
ngb-progressbar {
  margin-top: 5rem;
}

input {
    border-radius: 4px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container{
        margin: auto;
        width: 90% !important;
    }

}

table {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
td {
  width:120px;
  height:120px;
  border: 1px solid gray;
  background-image: url('../../../assets/slike/zemlja.png');
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }