.navbar{
    width: 75%;
    margin: 20px auto;
    border-radius: 8px;
    color: honeydew;
    position: relative;
}


.nav-item {
    text-align: center;
    font-size: 19px;
}

a:hover{
    background-color: yellowgreen;
}

li{
    width: 260px;
    float: none;
    padding: 6px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}


@media only screen and (max-width: 768px) {
#navbarSupportedContent{
    display: inline-block;
}
}