<app-polj-meni></app-polj-meni>


<div class="container">
    <h3> Svi vaši proizvodi </h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Pretraga..." [(ngModel)]="filter">
    </div>
        <div class="sortiranje">
        Sortiraj po: 
        <button class="btn btn-info" (click)="sortNaziv()"> Nazivu </button>
        <button class="btn btn-info" (click)="sortPr()"> Proizvođaču </button>
        <button class="btn btn-info" (click)="sortKol()"> Količini </button>
        </div>
    <table *ngIf="magacini.length>0">
        <thead>
        <tr class="table100-head">
            <th class="column1">
                Šifra proizvoda
            </th>
            <th class="column2">
                Naziv
            </th>
            <th class="column3">
                Proizvođač
            </th>
            <th class="column4">
                Tip proizvoda
            </th>
            <th class="column5">
                Količina
            </th>
            <th class="column6">
                Rasadnik
            </th>
        </tr>
    </thead>
        <tr *ngFor="let magacin of magacini | filter:filter">
          <td class="column1">
            {{ magacin.codeOfProd }}
            </td>
                <td class="column2">
                    {{ magacin.name }}
                </td>
                <td class="column3">
                    {{ magacin.company }}
                </td>
                <td class="column4">
                    {{ magacin.type }}
                </td>
                <td class="column5">
                    {{ magacin.amount }}
                </td>
                <td class="column6">
                    {{ magacin.garden }}
                </td>
        </tr>
    </table>
    <div *ngIf="magacini.length==0">
        TRENUTNO NEMATE NITI JEDNAN PROIZVOD U MAGACINU
    </div>
    </div>
    <app-poruka></app-poruka>