<div class="container">
    <h1> Izaberite tip korisnika </h1>
    <div class="row">
      <div class="col-sm-4">
        <a routerLink="/poljLogin"> <img style="background-color: seagreen;" src="../assets/slike/farmer.png"></a> 
      </div>
      <div class="col-sm-4">
        <a routerLink="/predLogin"><img style="background-color: steelblue;" src="../assets/slike/factory.png">  </a>
      </div>
      <div class="col-sm-4">
        <a routerLink="/adminLogin"><img style="background-color: firebrick;" src="../assets/slike/user.png">  </a>  
      </div>
    </div>
  </div>

